<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Mail</title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif; color: #333;">
    <table width="480px" style="text-align: center;">
        <tr>
            <td>
                <img src="https://halanxhomes.com/img/logo.png" width="80" alt="">
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" style="background-color: #fff;">
                    <tr>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td>
                                        <h1>Thanks for choosing Halanx!</h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2>Invoice</h2>
                                        <p style="font-size:14px; color: #666;">{{ timestamp }}</p>
                                        <table width="100%" style="border-collapse: collapse;">
                                            <tr>
                                                <td style="border-bottom: 1px solid #ccc;border-top: 1px solid #ccc; padding:8px; text-align: left;">Rent</td>
                                                <td style="border-bottom: 1px solid #ccc;border-top: 1px solid #ccc; padding:8px; text-align: right;">{{ booking.rent }}</td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;padding:8px; text-align: left;">Onboarding Charges</td>
                                                <td style="border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;padding:8px; text-align: right;">{{ booking.onboarding_charges }}</td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;padding:8px; text-align: left;">Security Deposit</td>
                                                <td style="border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;padding:8px; text-align: right;">{{ booking.security_deposit }}</td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;padding:8px; text-align: left;">Token Amount</td>
                                                <td style="border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;padding:8px; text-align: right;">{{ booking.token_amount }}</td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;padding:8px; text-align: left;">Hcash</td>
                                                <td style="border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;padding:8px; text-align: right;">-{{ booking.hcash }}</td>
                                            </tr>
                                            <tr style="font-size:20px; padding: 20px;">
                                                <td style="border-bottom: 2px solid #333;border-top: 2px solid #333;padding:8px; text-align: left;"><strong>Total</strong></td>
                                                <td style="border-bottom: 2px solid #333;border-top: 2px solid #333;padding:8px; text-align: right;"><strong>&#8377;
                                                        {{ booking.total_charges }}</strong></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" class="details">
                                            <tr>
                                                <td>
                                                    <h2>Details</h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p style="padding: 8px; margin: 0;">
                                                        {{ booking.tenant.customer.name }}
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p style="padding: 8px; margin: 0;">
                                                        {{ booking.tenant.permanent_address }}
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p style="padding: 8px; margin: 0;">
                                                        <p style="padding: 8px; margin: 0;">
                                                            Something wrong? Contact us <a style="color:blue;" href="https://halanxhomes.com/#/contact-us">here</a>
                                                        </p>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #e52222; color: #fff;">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <h2>
                                            Tell your friends
                                        </h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Share your unique referral code
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="color: #fff; background-color: #fc5555;border: 2px dashed white;width: fit-content;margin: 12px auto;padding: 12px;">
                                            {{ booking.tenant.tenant_referral_code }}
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%">
                    <tr>
                        <td style="font-size: 12px; color: #777;">
                            <p>
                                33, First Floor, Pearls Omaxe Corporate Tower, Netaji
                                Subhash Place, Delhi 110034
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 12px;">
                            <strong style="font-size: 18px">&copy; Halanx, 2019</strong>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>