<!doctype html>
<html>
<head>
    <title>Halanx | What people like about me?</title>
    <meta charset="utf-8">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Here is what people like about {{ name }}!">
    <meta property="og:description"
          content="Download Halanx app now to know what people like about you, and get your neighborhood closer to you!">
    <meta property="og:image" content="{{ img }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
</head>
</html>
